@import "tailwindcss";

@font-face {
  font-family: space-medium;
  src: url(./assets/fonts/SpaceGrotesk-Medium.ttf);
}
@font-face {
  font-family: space-regular;
  src: url(./assets/fonts/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: space-bold;
  src: url(./assets/fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
  font-family: space-semi-bold;
  src: url(./assets/fonts/SpaceGrotesk-SemiBold.ttf);
}
@font-face {
  font-family: space-light;
  src: url(./assets/fonts/SpaceGrotesk-Light.ttf);
}

@theme {
  --font-spaceMedium: "space-medium", space-medium;
  --font-spaceRegular: "space-regular", space-regular;
  --font-spaceBold: "space-medium", space-bold;
  --font-spaceSemiBold: "space-medium", space-semi-bold;
  --font-spaceLight: "space-light", space-light;
  --color-brand: #b9ff66;
  --color-brand-dark: #191a23;
  --color-brand-gray: #f3f3f3;
}
